---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import davidProfileImage from '../images/David.png'
import johannaProfileImage from '../images/Johanna.png'
import Booking from '../components/Booking.jsx'
---

<Layout title="Joda Development">
  <main id="mainID">
    <div id="startPageID">
      <h1>
        Wir bringen deine Idee ins <span class="text-gradient">Web</span>
      </h1>
      <h2 style={{ textAlign: 'center', marginBottom: '1em' }}>
        Wir sind Johanna und David, ein junges Paar das Design und
        Webentwicklung vereinen. Wir haben uns auf die Entwicklung von Webseiten
        und Webanwendungen spezialisiert und freuen uns deine ganz persönliche
        Website zu entwickeln. Dabei setzen wir auf moderne Technologien und
        einzigartige Designs.
      </h2>
      <div style={{ display: 'flex', justifyContent: 'center' }}>
        <Image
          src={davidProfileImage}
          alt="A AI generated picture of David"
          width="200"
          height="200"
          style={{ borderRadius: '9999px', margin: '0 1em' }}
        />
        <Image
          src={johannaProfileImage}
          alt="A AI generated picture of Johanna"
          width="200"
          height="200"
          style={{ borderRadius: '9999px' }}
        />
      </div>
      <h2
        style={{
          textAlign: 'center',
          marginTop: '20px',
          marginBottom: '20px',
        }}>
        Buche ein Kennenlerntreffen, wir freuen uns auf dich :)
      </h2>
      <Booking client:only />
    </div>
    <div id="guestBookID" style={{ display: 'none' }}>
      <h1>Gästebuch</h1>
    </div>
  </main>
</Layout>

<style>
  main {
    position: relative;
    top: 100px;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
